@import "./reset.css";

:root {
  --gray1: lightgray;
  --gray2: gray;
  --main-border: 1px solid var(--gray1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: var(--main-border);
  font-size: 1.25rem;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

.profile__top {
  display: flex;
  gap: 1rem;
}

.profile__img {

}

.profile__img > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  border: var(--main-border);
  padding: 3px;
}

.profile__username {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.profile__btn > button {
  all: unset;
  padding: 0.5rem 1rem;
  border: var(--main-border);
  border-radius: 0.5rem;
  cursor: pointer;
}

.story__container {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.story__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.story__img > img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: var(--main-border);
  padding: 3px;
}